﻿#alertDiv {
    position: fixed;
    bottom: 3em;
    right: 3em;
    z-index: 9999;
    list-style-type: none;
}

    #alertDiv > li {
        width: 300px;
    }

.kruki-alert {
    margin-left: 0%;
}

.kruki-alert-show {
    animation-name: show-alert;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.rm-alert-fade-out {
    animation-name: fade-alert-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes show-alert {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes fade-alert-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
