﻿@using System.Threading.Tasks


<ul id="alertDiv" class="pl-0">
    @foreach (var alert in Toasts)
    {
        <li class="alert @alert.AlertClass @(alert.AlreadyShown ? "kruki-alert" : "kruki-alert-show") @alert.FadeOutClass">
            @if (ToastContent != null)
            {
                @ToastContent(alert.Message)
            }
            else
            {
                @alert.Message
            }
        </li>
        alert.AlreadyShown = true;
    }
</ul>

@code {

    [Parameter]
    public RenderFragment<string> ToastContent { get; set; }

    private List<ToastModel> Toasts { get; set; } = new List<ToastModel>();

    /// <summary>
    /// Display a toast-message.
    /// </summary>
    /// <param name="type">Typical bootstrap color type ("success","primary","danger","warning", ...)</param>
    /// <param name="message">Message to be displayed.</param>
    /// <param name="duration">Duration how long the toast lasts (ms) | min: 2000</param>
    /// <returns></returns>
    public async Task Show(string type, string message, int duration)
    {
        var alert = new ToastModel();
        alert.AlertClass = type.ToLower() switch
        {
            "success" => "alert-success",
            "danger" => "alert-danger",
            "warning" => "alert-warning",
            "secondary" => "alert-secondary",
            "primary" => "alert-primary",
            "info" => "alert-info",
            "light" => "alert-light",
            "dark" => "alert-dark",
            "muted" => "alert-muted",
            "white" => "alert-white",
            _ => "alert-success"
        };
        alert.Message = message;

        Toasts.Add(alert);
        StateHasChanged();
        if (duration < 2000)
            duration = 2000;

        await Task.Delay(duration - 500);
        alert.FadeOutClass = "rm-alert-fade-out";
        StateHasChanged();

        await Task.Delay(500);
        Toasts.Remove(alert);
        StateHasChanged();
    }
}
