﻿@page "/"

@using BlazorBootstrapToasts 

@inject IToastService ToastService

<h1>Blazor Bootstrap Toasts</h1>

<h3 class="mb-0 mt-4">Enter toast text</h3>
<textarea class="form-control" @bind="Message">

</textarea>

<h3 class="mb-0 mt-4">Enter toast duration</h3>
<input @bind="Duration" class="form-control" />

<div class="mt-5">
    <button class="btn btn-block btn-success" @onclick="@(() => {ToastService.Show("success", Message, Duration); })">Success</button>
    <button class="btn btn-block btn-danger" @onclick="@(() => {ToastService.Show("danger", Message, Duration); })">Danger</button>
    <button class="btn btn-block btn-warning" @onclick="@(() => {ToastService.Show("warning", Message, Duration); })">Warning</button>
    <button class="btn btn-block btn-secondary" @onclick="@(() => {ToastService.Show("secondary", Message, Duration); })">Secondary</button>
    <button class="btn btn-block btn-primary" @onclick="@(() => {ToastService.Show("primary", Message, Duration); })">Primary</button>
    <button class="btn btn-block btn-info" @onclick="@(() => {ToastService.Show("info", Message, Duration); })">Info</button>
    <button class="btn btn-block btn-light" @onclick="@(() => {ToastService.Show("light", Message, Duration); })">Light</button>
    <button class="btn btn-block btn-dark" @onclick="@(() => {ToastService.Show("dark", Message, Duration); })">Dark</button>
</div>


@code {
    public string Message { get; set; } = "test toast";

    public int Duration { get; set; } = 3000;
}
